In [1]:
2**4

16

In [2]:
2+3

5

In [3]:
8%2

0

In [4]:
7//2

3

In [5]:
var  =2

In [6]:
var

2

In [7]:
x = 2
y= 3

In [8]:
x+y

5

In [9]:
x +=x

In [10]:
x

4

In [11]:
#Strings

In [12]:
'This is a string'

'This is a string'

In [13]:
"This is a sttring"

'This is a sttring'

In [14]:
#Can use both single and double quotes

In [15]:
x = "hello"

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
len(x) #get the length of the strings

5

In [19]:
num = 23
name = "Maina"

In [20]:
'My number is {} and my name is {}'.format(num,name)

'My number is 23 and my name is Maina'

In [21]:
print('My number is {} and my name is {}'.format(num,name))

My number is 23 and my name is Maina

In [22]:
'My number is {one} and my name is {two}'.format(one=num,two=name)

'My number is 23 and my name is Maina'

In [23]:
'My number is {0} and my name is {1}'.format(num,name)

'My number is 23 and my name is Maina'

In [24]:
s = 'abcdefghik'

In [25]:
len(s)

10

In [26]:
s[4]

'e'

In [27]:
s[0:]

'abcdefghik'

In [28]:
s[:]

'abcdefghik'

In [29]:
s[:3]

'abc'

In [30]:
s[3:6]

'def'

In [31]:
[1,2,3]

[1, 2, 3]

In [32]:
["a","b","c"]

['a', 'b', 'c']

In [33]:
my_list = ["a", "b", "c"]

In [34]:
my_list.append("d")

In [35]:
my_list

['a', 'b', 'c', 'd']

In [36]:
my_list[1:3]

['b', 'c']

In [37]:
len(my_list)

4

In [38]:
my_list[0] = "New"
my_list

['New', 'b', 'c', 'd']

In [39]:
nest = [1,2,[3,4]]

In [40]:
nest[2][1]

4

In [41]:
nest = [1,2,3,[4,5,["target"]]]

In [42]:
nest[3]

[4, 5, ['target']]

In [43]:
nest[3][1]

5

In [44]:
nest[3][2]

['target']

In [45]:
nest[3][2][0]

'target'

In [46]:
nest[3][2][0][:]

'target'

In [47]:
nest[3][2][0][:3]

'tar'

In [49]:
d = {'key1':'value', 'key2': 123}

In [50]:
d['key1']

'value'

In [51]:
d['key2']

123

In [52]:
d

{'key1': 'value', 'key2': 123}

In [53]:
d = {'k1': [1,2,3]}

In [54]:
d

{'k1': [1, 2, 3]}

In [57]:
d['k1'][1]

2

In [58]:
d = {'k1' :{'innerkey':[1,2,3]}}

In [59]:
d['k1']['innerkey'][2]

3

In [60]:
True

True

In [61]:
False

False

In [64]:
t = (1,2,3)

In [65]:
t[0]

1

In [70]:
t

(1, 2, 3)

In [72]:

#tuples are immutable while lists are () and []
t = (1,2,3)
my_list = [1,2,3,4,5]

In [74]:
#Sets returns a set of unique items
{1,1,1,2,3,3,3,2,2,2}

{1, 2, 3}

In [75]:
s = {1,2,3}

In [76]:
s.add(5)

In [77]:
s

{1, 2, 3, 5}

In [79]:
s.add(5)
s

{1, 2, 3, 5}

In [80]:
#Comparision Operators

In [81]:
1 > 2

False

In [82]:
1<=2

True

In [83]:
1 == 2

False

In [84]:
2==2

True

In [85]:
2 =='2'

False

In [91]:
2 == int('2')

True

In [92]:
str(2)

'2'

In [94]:
str(2) == '2'

True

In [95]:
1 == 1

True

In [96]:
1 != 3

True

In [97]:
"love" != 'hate'

True

In [98]:
1<2

True

In [99]:
'me'!='me'

False

In [100]:
1<2 and 2>3

False

In [102]:
1<2 and 2<3

True

In [103]:
(1<2) or (2>3)

True

In [104]:
(1<2) or (2>3) or (1==1)

True

In [105]:
True or False

True

In [106]:
False and False

False

In [108]:
True and False

False

In [109]:
#Loops

In [110]:
if (1< 2):
    print('Yep1')

Yep1

In [111]:
if True:
    print("perform code")

perform code

In [113]:
if 1 == 2:
    print('First')
else:
    print('last')

last

In [114]:
if 1 != 2:
    print('First')
else:
    print('last')

First

In [119]:
if 1 == 2:
    print('First')
elif 3== 3:
    print("Second")
elif 4== 4:
    print("middle")
else:
    print('last')

Second

In [120]:
seq = [1,2,3,4,5,6,]

In [122]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [123]:
i= 1
while i<5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [130]:
i= 1
while i<=5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5

In [131]:
for x in seq:
    print(x)

1
2
3
4
5
6

In [132]:
range(0,5)

range(0, 5)

In [134]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [136]:
for x in list(range(0,5)):
    print(x)

0
1
2
3
4

In [138]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
out = []

for num in range(10):
    out.append(num**2)

In [144]:
print(out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
#list comprehension
[num**2 for num in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
out = [num**2 for num in range(10)]

In [148]:
out

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [150]:
def my_func(param1):
    print(param1)

In [151]:
my_func('Hello')

Hello

In [159]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [161]:
my_func()

my_func(name='Maina')

Hello Default Name
Hello Maina

In [166]:
def square(num):
    '''
    This is a doc string
    can go multiple lines
    This functon squares a number.
    '''
    return num**2

In [165]:
output = square(2)
output

4

In [167]:
#press shift+tab after the last letter
range(10)

range(0, 10)

In [168]:
def times2(var):
    return var*2

In [169]:
times2(5)

10

In [170]:
#map()

In [171]:
seq

[1, 2, 3, 4, 5, 6]

In [173]:
map(times2,seq)

In [174]:
list(map(times2,seq))

[2, 4, 6, 8, 10, 12]

In [178]:
def times3(var): return var*2

In [179]:
#lambda

In [180]:
lambda var:var*2

In [181]:
t= lambda var:var*2
t(6)

12

In [186]:

list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15, 18]

In [187]:
filter(lambda num: num%2 ==0,seq)

In [190]:
list(filter(lambda num: num%2 ==0,seq))
#should return even numbers

[2, 4, 6]

In [191]:
s = 'hello my name is Maina'

In [194]:
s.lower()

'hello my name is maina'

In [195]:
s.count('a')

3

In [196]:
s.upper()

'HELLO MY NAME IS MAINA'

In [197]:
s.split() #will split all the white space

['hello', 'my', 'name', 'is', 'Maina']

In [198]:
tweet = 'Go sports! #sports'

In [199]:
tweet.split()

['Go', 'sports!', '#sports']

In [200]:
tweet.split('#')

['Go sports! ', 'sports']

In [201]:
tweet.split('#')[1]

'sports'

In [202]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [203]:
d = {'k1': 1 , 'k2':2}

In [204]:
d.keys()

dict_keys(['k1', 'k2'])

In [205]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [206]:
d.values()

dict_values([1, 2])

In [210]:
lst = [1,2,3,4,5,6]

In [211]:
lst.pop() #change is permanent

6

In [212]:
lst

[1, 2, 3, 4, 5]

In [213]:
me = lst.pop()

In [214]:
me

5

In [215]:
me = lst.pop(0)

In [216]:
me

1

In [217]:
lst

[2, 3, 4]

In [219]:
'x' in [1,2,3]

False

In [220]:
'x' in ['x',"y"]

True

In [221]:
x = [(1,2), (3,4), (5,6)]

In [223]:
x[0][0]

1

In [224]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [225]:
for (a,b) in x:
    print(a)

1
3
5

In [226]:
for (a,b) in x:
    print(b)

2
4
6

In [227]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6

Exercise

In [228]:
7**4

2401

In [229]:
#return domain in email
def domainget(email):
    return email.split('@')[1]

domainget('maina.wanjau@gmail.com')

'gmail.com'

In [240]:
def findDog(name):
    return 'dog' in name
findDog('Is there a dog here')

True

In [245]:
seq = ['soup', 'dog','salad','cat','great']

In [247]:
list(filter(lambda word: word[0]=='s', seq))

['soup', 'salad']

In [255]:
def getticket(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [256]:
getticket(81,True)

'Small Ticket'

In [257]:
getticket(81,False)

'Big Ticket'